@font-face {
    font-family: 'Century-Gothic';
    src: url('../assets/fonts/Century-Gothic-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Century-Gothic';
    src: url('../assets/fonts/Century-Gothic-Bold.ttf') format('truetype');
    font-style: 700;
}