//Primary Colors
$blue: #01497C;
$orange: #7e3501;
$white: #f7f7f7;

//Secondary Colors
$grey-accent: #2D2C29;
$orange-accent: #f9974c;

//Background Colors
$grey-background: #252422;

//Priority Colors
$high: #F94C4C;
$medium: #F9974C;
$low: #4CF982;